body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #1259e8, #6d9af4);
}

.content {
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #fff;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
}

ol {
  width: fit-content;
  margin: auto;
  text-align: left;
}

.background-instructions {
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: 1px 1px 4px #000000;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  #content {
    display: flex;
  }
  .background-instructions {
    margin-left: 20px;
  }
}
